name: Tag for release
on:
  push:
    paths:
      - configure.ac 
    branches:
      - 'main'
jobs:
  tag_release:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Get tag name
      id: get-tag
      run: echo "TAGNAME=`grep -o -E '?[0-9]{4}\.[0-9]{2}(\.[0-9]{2})?' configure.ac`" >> "$GITHUB_OUTPUT"
    - name: Create tag
      uses: actions/github-script@v5
      env:
        TAG: ${{ steps.get-tag.outputs.TAGNAME }}
      with:
        script: |
          const title = process.env.TAG;
          github.rest.git.createRef({
            owner: context.repo.owner,
            repo: context.repo.repo,
            ref: `refs/tags/${title}`,
            sha: context.sha
          })
  create-release-dist:
    runs-on: ubuntu-latest
    needs: tag_release
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Install dependencies
      run: |
        sudo apt-get install -y nco which netcdf-bin libnetcdf-dev \
          libnetcdff-dev mpich gcc gfortran asciidoc docbook-xsl docbook-xml \
          python3 python3-numpy python3-pytest perl git make libtool autoconf 
    - name: Configure
      run: |
        mkdir build && cd build
        autoreconf -if ../configure.ac
        ../configure
    - name: Build and create distribution file
      run: |
        cd build
        make
        make distcheck
        make dist
    - name: Create release draft and upload file
      uses: softprops/action-gh-release@v2
      with:
        files: |
          build/fre-nctools-*.*.tar.gz
          build/fre-nctools-*.*.*.tar.gz
        draft: True
        generate_release_notes: True
        make_latest: True
  
